* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#etch-a-sketch-container {
  width: 512px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.square {
  border: 1px solid black;
  width: 100%;
  flex-grow: 1;
}

.color {
  --alpha: 0.1;
  background-color: rgb(220 121 62 / var(--alpha));
}

.button {
  margin-bottom: 20px;
}
